@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Table/Index" class="btn btn-primary">To Table</a>
    <a href="/Grafic/Index" class="btn btn-primary">To Grafic</a>
    <p>
        Опис Програми
    </p>
    Опис Бази данних:
    <p>

        AdventureWorksLT2019 містить дані про продукти, клієнтів, замовлення та співробітників компанії, яка продає електронні товари.
    </p>
    <p>
        В базі даних є таблиці для продуктів, замовлень, платежів, адрес, контактної інформації клієнтів та багато іншого.
 </p>
    <p>
        Ці дані можуть бути використані для вивчення та виконання запитів на SQL, що стосуються різних аспектів діяльності компанії.
    </p>
    <p>
        <a href="https://github.com/Microsoft/sql-server-samples/releases/download/adventureworks/AdventureWorksLT2019.bak">Download DataBase</a>
    </p>

</body>
</html>
