@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        Опис Програми
    </p>
    <p>
        Опис Данних
    </p>
    <p>
        <a href="https://github.com/Microsoft/sql-server-samples/releases/download/adventureworks/AdventureWorksLT2019.bak">Download File</a>
    </p>

</body>
</html>
